* {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.nav {
  color: white;
}

#index,
#tagline {
  background-image: url("../the-flatiron-building.png");
}

#tagline {
  color: white;
}

#index .nav {
  font-size: 18px;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
